.rcrop-outer-wrapper{
    opacity: .75 !important;
}
.rcrop-outer{
    background: #000
}
.rcrop-croparea-inner{
    border: 1px dashed #fff !important;
}

.rcrop-handler-corner{
    width:12px !important;
    height: 12px !important;
    background: none !important;
    border : 0 solid #51aeff !important;
}
.rcrop-handler-top-left{
    border-top-width: 4px !important;
    border-left-width: 4px !important;
    top:-2px !important;
    left:-2px
}
.rcrop-handler-top-right{
    border-top-width: 4px !important;
    border-right-width: 4px !important;
    top:-2px !important;
    right:-2px
}
.rcrop-handler-bottom-right{
    border-bottom-width: 4px !important;
    border-right-width: 4px !important;
    bottom:-2px !important;
    right:-2px
}
.rcrop-handler-bottom-left{
    border-bottom-width: 4px !important;
    border-left-width: 4px !important;
    bottom:-2px !important;
    left:-2px
}
.rcrop-handler-border{
    display: none !important;
}

.clayfy-touch-device.clayfy-handler{
    background: none !important;
    border : 0 solid #51aeff !important;
    border-bottom-width: 6px !important;
    border-right-width: 6px !important;
}